<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
          <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="formulario">
        <ion-icon name="car"></ion-icon>
        <ion-label>Formulário Acidente</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="vitimas">
          <ion-icon name="person"></ion-icon>
          <ion-label>Formulário Vítimas</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
