<ion-header>
  <ion-toolbar>
    <ion-title>listaFormulariosIncompletos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-item>
        <ion-label>Rua Arlindo Gouveia </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Rua João de barros</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Rua Real da Torre</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Rua Benfica</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Avenida Agamenon Magalhães</ion-label>
      </ion-item>
  </ion-list>
</ion-content>
