.label {
    font-size: 1.2rem;
    font-weight: 800;
}

.text {
    p {
        font-size: 1.3rem;
        font-weight: 800;
    }
}

.button {
    float: right;
}

.card {
    margin: 1vh 2vw;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75);
}

.center{
    display: inline-block;
    width: 65%;
    height: 10%;
    padding-top: 10px;
    
}