

<ion-content color="primary">
    <ion-item color="primary">
      <ion-label position="floating">Tipo de acidente</ion-label>
      <ion-select value="brown" okText="Confirmar" cancelText="Cancelar">
        <ion-select-option value="brown">Atropelamento</ion-select-option>
        <ion-select-option value="blonde">Colisão/Choque</ion-select-option>
        <ion-select-option value="black">Capotamento</ion-select-option>
        <ion-select-option value="red">Outro</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item color="primary">
        <ion-label position="floating" color="warning">Tipo de veículo da Infrator</ion-label>
        <ion-select value="carro" okText="Confirmar" cancelText="Cancelar">
          <ion-select-option value="carro">Carro </ion-select-option>
          <ion-select-option value="motocicleta">Motocicleta</ion-select-option>
          <ion-select-option value="caminhão">Caminhão </ion-select-option>
          <ion-select-option value="bicileta">Bicicleta</ion-select-option>
        </ion-select>
      </ion-item>

    <ion-item color="primary">
      <ion-label position="floating">Tipo de veículo da vítima</ion-label>
      <ion-select value="carro" okText="Confirmar" cancelText="Cancelar">
        <ion-select-option value="carro">Carro </ion-select-option>
        <ion-select-option value="motocicleta">Motocicleta</ion-select-option>
        <ion-select-option value="caminhão">Caminhão </ion-select-option>
        <ion-select-option value="bicileta">Bicicleta</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item color="primary">
        <ion-label position="floating">Tipo de veículo da vítima</ion-label>
        <ion-select value="carro" okText="Confirmar" cancelText="Cancelar">
          <ion-select-option value="carro">Carro </ion-select-option>
          <ion-select-option value="motocicleta">Motocicleta</ion-select-option>
          <ion-select-option value="caminhão">Caminhão </ion-select-option>
          <ion-select-option value="bicileta">Bicicleta</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-list color='primary'>
          <ion-radio-group color='primary'>
            <ion-list-header color='primary'>
              <ion-label>Air Bag</ion-label>
            </ion-list-header>
        
            <ion-item color='primary'>
              <ion-label>Sim</ion-label>
              <ion-radio slot="start" value="sim" color='warning' checked></ion-radio>
            </ion-item>

            <ion-item color='primary'>
              <ion-label>Não</ion-label>
              <ion-radio slot="start" value="nao" color='warning'></ion-radio>
            </ion-item>
          </ion-radio-group>
      </ion-list>

      <ion-list color='primary'>
          <ion-radio-group color='primary'>
            <ion-list-header color='primary'>
              <ion-label>Capacete</ion-label>
            </ion-list-header>
        
            <ion-item color='primary'>
              <ion-label>Sim</ion-label>
              <ion-radio slot="start" value="sim" color='warning' checked></ion-radio>
            </ion-item>

            <ion-item color='primary'>
              <ion-label>Não</ion-label>
              <ion-radio slot="start" value="nao" color='warning'></ion-radio>
            </ion-item>
          </ion-radio-group>
      </ion-list>

      <ion-list>
          <ion-radio-group color='primary'>
            <ion-list-header color='primary'>
              <ion-label>Cinto de segurança</ion-label>
            </ion-list-header>
        
            <ion-item color='primary'>
              <ion-label>Sim</ion-label>
              <ion-radio slot="start" value="sim" color='warning' checked></ion-radio>
            </ion-item>

            <ion-item color='primary'>
              <ion-label>Não</ion-label>
              <ion-radio slot="start" value="nao" color='warning'></ion-radio>
            </ion-item>
          </ion-radio-group>
      </ion-list>

    <ion-button color="warning" class="button" style="width: 100%;">Enviar Formulário</ion-button>
</ion-content>
