ion-icon {
    font-size: 50px;
}

ion-list {
    padding: 0;
    margin: 0 0;
}

ion-item {
    margin: 0 0;
    padding: 0;
}

.labelform {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 600;
}

.button {
    float: right;
}

.button2 {
    float: left;
}