.center{
    position: absolute;
    width: 100%;
    height: 100%;
    align-content: center;
}

.button {
    display: inline-block;
    width: 100%;
    padding-top: 10px;
}

img {
    margin-left: auto;
    margin-right: auto;
}