.imagemMeio{
    width: 100%;  
    display: flex; 
    align-content: center; 
    justify-content: center;
}

.buttons{
    width:100px;
    position:absolute;
    top:25%;
    left: 30%;
}

.button{
    width: 100%;
}