<ion-header>
  <ion-toolbar>
    <ion-title>vitimas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item color="primary">
        <ion-label position="floating">Sexo</ion-label>
        <ion-select value="brown" okText="Confirmar" cancelText="Cancelar">
          <ion-select-option value="brown">Feminino</ion-select-option>
          <ion-select-option value="blonde">Masculino</ion-select-option>
          <ion-select-option value="black">Outro</ion-select-option>
        </ion-select>
      </ion-item>

    <ion-item color="primary">
        <ion-label position="floating">Idade</ion-label>
        <ion-input></ion-input>
      </ion-item>
    <ion-item color="primary">
        <ion-label position="floating">Estado físico</ion-label>
        <ion-select value="brown" okText="Confirmar" cancelText="Cancelar">
          <ion-select-option value="brown">ileso</ion-select-option>
          <ion-select-option value="blonde">lesões leves</ion-select-option>
          <ion-select-option value="black">lesões graves</ion-select-option>
          <ion-select-option value="red">óbito</ion-select-option>
          <ion-select-option value="blue">não informado</ion-select-option>
        </ion-select>
      </ion-item>    
      <ion-item color="primary">
          <ion-label position="floating">Tipo envolvido</ion-label>
          <ion-select value="brown" okText="Confirmar" cancelText="Cancelar">
            <ion-select-option value="brown">passageiro</ion-select-option>
            <ion-select-option value="blonde">condutor</ion-select-option>
            <ion-select-option value="black">pedestre</ion-select-option>
            <ion-select-option value="red">ciclista</ion-select-option>
            <ion-select-option value="blue">testemunhas</ion-select-option>
          </ion-select>
        </ion-item>    







</ion-content>
